NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDUT5owgl2FbD7VVSlxEBJpkb22ueArZWk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fundmathz.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fundmathz
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fundmathz.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=981967824950
NEXT_PUBLIC_FIREBASE_APP_ID=1:981967824950:web:6f22b9b47f5126aacc1097
